<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> My Catalogue</h2>
</div>

<div class="page-content-wrap">

    <!--SEARCH BAR starts-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Use search to find projects. You can search by: name, abstract, description, technology or contact</p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="What are you looking for?" ng-model="searchText" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" ng-click="search(true)">Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-success btn-block" ng-click="addNewProject()"><span class="fa fa-plus"></span> Add new project</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--SEACH BAR ends-->

    <div class="row">
        <div class="col-md-12">
            <!-- PROJECT DETAILS -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Resgistered Projects <small ng-hide="loading">{{count}} results found</small> <small ng-show="loading">Searching ...</small></h3>
                </div>
                <img class="central" src="../../images/Loader.gif" ng-show="loading" />
                <div ng-hide="loading" class="panel-body list-group list-group-contacts">
                    <div ng-repeat="project in projects" href="javascript:void(0)" class="list-group-item" >
                        <a href="javascript:void(0)" class="contacts-title" ng-click="goToDetails(project)">{{project.name}}</a>
                        <p>{{project.abstract}}</p>
                        <p>
                            <span ng-repeat="technology in project.technologies">| {{technology.name}} </span>
                        </p>
                        <div class="list-group-controls">
                            <button class="btn btn-primary btn-rounded" ng-click="editProject(project)"><span class="fa fa-pencil"></span></button>
                            <button class="btn btn-primary btn-rounded"><span class="fa fa-eraser"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROJECT DETAILS -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="pagination pagination-sm push-down-10 push-up-10">
                <li ng-class="{'disabled': (pagination.currentPage === 1)}" ng-click="pagination.currentPage !== 1 && changePage(pagination.currentPage - 1)">
                    <a href="javascript:void(0)">«</a>
                </li>
                <li ng-repeat="page in pages" ng-class="{'active': (page + 1) === pagination.currentPage}" ng-click="changePage(page + 1)">
                    <a href="javascript:void(0)">{{page + 1}}</a>
                </li>
                <li ng-class="{'disabled': (pagination.currentPage === pages.length)}" ng-click="pagination.currentPage !== pages.length && changePage(pagination.currentPage + 1)">
                    <a href="javascript:void(0)">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>